.projects {
    padding-bottom: 108px;
}

.projects__title {
    font-size: 44px;
    font-weight: 500;
    padding-bottom: 20px;
}

.projects__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 32px;
    padding: 0;
}