.project-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border: 1px solid var(--color-bg-secondary);
  border-radius: 8px;
}

.project-card__image-area {
  height: 224px;
}

.project-card__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px;
  flex: 1;
}

.project-card__text {
  display: flex;
  flex-direction: column;
  padding-bottom: 58px;
  gap: 14px;
}

.project-card__title {
  font-size: 24px;
  font-weight: 400;
}

.project-card__description {
  font-size: 18px;
  line-height: 160%;
  color: var(--color-text-secondary);
}

.project-card__links {
  display: flex;
  gap: 20px;
  margin-top: auto;
}

.project-card__link {
  border-radius: 8px;
  border: 1px solid var(--color-bg-secondary);
  padding: 14px 24px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-primary);
  text-decoration: none;
}

.project-card__link:hover {
  background-color: var(--color-bg-secondary);
}

.project-card__link:visited {
  text-decoration: none;
}

.project-card__icon {
  vertical-align: middle;
  padding-right: 6px;
}

@media (max-width: 414px) {
  .project-card__image-area {
    width: 100%;
    height: auto;
  }

  .project-card__content {
    padding: 20px;
  }

  .project-card__text {
    padding-bottom: 20px;
  }

  .project-card__links {
    gap: 16px;
  }
}