.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-bottom: 36px;
}

.contact__icon {
  vertical-align: middle;
  padding-right: 12px;
}

.contact__item {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__resume-text {
  color: var(--color-blue);
  font-weight: 600;
  text-decoration: none;
}

.contact__resume-text:hover {
  text-decoration: underline;
}

.contact__social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.contact__social-item {
}

.contact__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.contact__social-icon {
  width: 52px;
  height: 52px;
  flex-shrink: 0;
}

.contact__social-icon:hover .contact__social-link-bg {
  fill: var(--color-hover-secondary);
}

.contact__email {
  text-decoration: none;
  color: var(--color-text-primary);
}

.contact__location {
  text-decoration: none;
  color: var(--color-text-secondary);
}

@media (max-width: 414px) {
  .contact__list {
    padding-bottom: 24px;
  }

  .contact__item {
    font-size: 14px;
    font-weight: 400;
  }
}