.header {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  padding: 20px 80px;
  color: var(--color-text-primary);
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.header__nav {
  display: flex;
  gap: 8px;
}

.header__menu {
  display: contents;
}

.header__menu .contact {
  display: none;
}

.header__brand {
  font-size: 18px;
  text-decoration: none;
  color: var(--color-text-primary);
  line-height: 180%;
}

.header__link {
  padding: 8px;
  font-family: inherit;
  font-size: 16px;
  text-decoration: none;
  color: var(--color-text-primary);
}

.header__brand:hover {
  color: var(--color-blue);
}

.header__link:hover {
  color: var(--color-blue);
}

.header__mobile-menu {
  display: none;
}

.mobile-divider {
  display: none;
}

.header__hamburger-button {
  display: none;
}

@media (max-width: 1064px) {
  .header {
    padding: 44px;
  }
}

@media (max-width: 602px) {
  .header {
    position: relative;
    z-index: 2;
    background-color: var(--color-bg-primary);
  }

  .header__menu {
    display: none;
  }

  .header__menu_open {
    position: fixed;
    inset: 121px 0 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-bg-primary);
  }

  .header__menu_open .header__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 64px 40px 0;
  }

  .header__menu_open .header__link {
    padding: 8px 0;
    font-size: 28px;
  }

  .header__menu_open .header__contact-link {
    display: none;
  }

  .header__menu_open .contact {
    display: flex;
    padding-bottom: 48px;
  }

  .header__mobile-menu {
    display: block;
  }

  .header__hamburger-button {
    display: block;
    background-color: inherit;
    border: none;
    padding: 0;
  }

  .mobile-divider {
    display: block;
    position: relative;
    z-index: 3;
    height: 1px;
    margin: 0;
    border: 0;
    background-color: #eef4ff;
  }

  .header__nav {
    display: none;
  }
}

@media (max-width: 414px) {
  .header__brand {
    padding: 0;
    font-weight: 600;
  }

  .header {
    padding: 25px 20px;
    width: 100%;
    background-color: var(--color-bg-primary);
  }

  .header__menu_open {
    inset: 83px 0 0;
  }
}